<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
    <title> BnR </title>
    
	<script language="javascript" type="text/javascript" src="../../resources/lib/jquery.min.js"></script>
	<script language="javascript" type="text/javascript" src="admin_setting_client.js" ></script>
		
    <link rel="stylesheet" type="text/css" href="../../resources/styles/style.css" />
    <link rel="stylesheet" type="text/css" href="../../resources/styles/style_table.css" />
    
</head>


<body>
<div id="wapper">

<!--header-->
<header>
<h2 class="title"> BnR </h2>
</header>
<br>

<!--side bar-->

<div id="menu">
    <ul>
        <li><a href="./admin_setting.html">빌드 리스트</a></li>
        <li><a href="./admin_result.html">배포 리스트</a></li>
		<li><a href="./admin_monitor.html">배포그룹 관리</a></li>
    </ul>
</div>
<!--contents-->
	<table border="1px" width="100%">
		<thead>
	        <tr>
				<th scope='col'> Build List </th>
	            
	        <tr>
        </thead>
		
        <tr>
			<td>
				<div>
					<div style="overflow:auto;">
					<!--<div style="height:300px;overflow:auto;">-->
						<table>
							<div id="profile_list"></div>
		                </table>
		            </div>
			
		            <button type="button" onclick="newPopup('./admin_profile.html')">빌드생성</button>  
					<button type="button" onclick="onClickDeleteProfile();">Delete</button>					
                </div>
			</td>
	
        </tr>
		
		<tr>
			<td>
				<div id='logview'></div>
			</td>
		</tr>
	</table>
</div>

</body>
</html>