<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>빌드생성</title>
    <script language="javascript" type="text/javascript" src="../../resources/lib/jquery.min.js"></script>
	<script language="javascript" type="text/javascript" src="./admin_setting_client.js"></script>

    <link rel="stylesheet" type="text/css" href="../../resources/styles/style.css" />

	<script type="text/javascript">
		
	var edit_modes =null;
	var arg = null;

	function onLoadEditProfiles(val){			
			
		if (typeof window.dialogArguments == "object"){	
			
			var f = document.form;
			
			arg = window.dialogArguments;
			//console.log("arg:", arg);
			
			edit_modes = arg.edit_mode;
			console.log("edit", edit_modes );				
			
			f.fname.value = arg.name;
			f.fname.disabled  = true;
			f.event.value = arg.event;
			f.count.value = arg.count;
			f.interval.value = arg.seed_interval;
			f.throttle.value = arg.throttle;
			f.hour.value = arg.hours;
			f.min.value = arg.mins;
			f.day.value = arg.days;

			for (var i=0; i<f.week.length; i++){
				for (var j=0; j<arg.weeks.length; j++ ){
					//console.log("=====", f.week[i].value);
					//console.log("====", arg.weeks[j]);
					if(f.week[i].value == arg.weeks[j]){
						f.week[i].checked = true;
					}
				}
			}
			
			f.month.value = arg.months;
				
		}else{
			edit_modes = false;
			console.log("not edit", edit_modes);
		}
	}
	
	function trimString( str ) {

	    return str.replace(/^\s*/, "").replace(/\s*$/, "");
	}
	
	// String.prototype.trim = function () {
	// 	
	//     return this.replace(/^\s*/, "").replace(/\s*$/, "");
	// }
	
	function onClickSubmit(){
		
		    //var name = $("#fname").val().toLowerCase();
			
			
			
			var name = new Date();
			var domain = $("#hour").val();
			var ersNo = $("#min").val();
			
			var branch = $("#branch").val();
			var tag = $("#tag").val();
			
			
			
			
			
			
            //var schedule = $("#schedule").val();
            var event = $("#event").val();
            var count = $("#count").val();
            var start_seed = 0; //$("#start_seed").val();
            var end_seed = ( ($("#count").val() - 1 ) * $("#interval").val());//$("#end_seed").val();
            var interval = $("#interval").val();
            var throttle = $("#throttle").val();
			var hours = $("#hour").val();
			var mins = $("#min").val();
			
			var arrWeek = [];
			$("input[name='week']:checkbox:checked").each(function(){
															arrWeek.push($(this).val());
															});
			var weeks = arrWeek.join(',');
			var days = $("#day").val();
			var months = $("#month").val();
			/*
			if (!frmchk_char(name, 0)) {
            	alert("The first letter of the profile name is alphabet. And Alphabet, Numbers and '_' can be input");
            	$("#fname").focus();
            	return;
            }          
            if (!frmchk_char(event, 2)) {
            	alert("event count: Numbers can be input");
                $("#event").focus();
                return;
            }
            if (!frmchk_char(count, 2)) {   
                $("#count").focus();
                return;
            }
            if (!frmchk_char(start_seed, 2)) {
                alert("start seed: Numbers can be input");
                $("#start_seed").focus();
                return;
            }
            if (!frmchk_char(end_seed, 2)) {
                alert("end seed: Numbers can be input");
                $("#end_seed").focus();
                return;
            }
            if (!frmchk_char(interval, 2)) {
                alert("interval: Numbers can be input");
                $("#interval").focus();
                return;
            }
            if (!frmchk_char(throttle, 2)) {
                alert("throttle: Numbers can be input");
                $("#throttle").focus();
                return;
            }
			if ($("#event").val()==0 || $("#count").val()==0 || $("#interval").val()==0 )
			{
				alert(" 0 or negative number is not available ");
				return;
			}
			*/

		if (edit_modes==true)
		{
			console.log("edit", edit_modes);

			//edit_mode = false;
			//edit_index = -1;
			//alert("세이브");
			var profile = new Object();
			profile = mProfilesData[arg.name];

			profile.name=arg.name;
			profile.config.event= event;
			profile.config.count= count;
			profile.config.seed_start= 0; //$('#textSeedStart'+index).val();
			profile.config.seed_end= end_seed	 //$('profile'+index).val();
			profile.config.seed_interval= interval;
			profile.config.throttle= throttle;
			
			var l_hours = hours.replace(/\s+/g, '');
			var l_mins = mins.replace(/\s+/g, '');
			var l_days = days.replace(/\s+/g, '');
			var l_weeks = weeks.replace(/\s+/g, '');
			var l_months = months.replace(/\s+/g, '');
			
			var arrMins = [];
			var arrHours = [];
			var arrDays = [];
			var arrWeeks = [];
			var arrMonths = [];
			
			if(l_hours != '')
				arrHours= l_hours.split(',');
			if(l_mins != '')
				arrMins= l_mins.split(',');
			if(l_days != '')
				arrDays= l_days.split(',');
			if(l_weeks != '')
				arrWeeks= l_weeks.split(',');
			if(l_months != '')
				arrMonths= l_months.split(',');
			
			profile.schedule.hours = arrHours;
			profile.schedule.mins = arrMins;
			profile.schedule.days = arrDays;
			profile.schedule.weeks = arrWeeks;
			profile.schedule.months = arrMonths;
			
			$.ajax({
				cache: false,
				type: "POST",
				url: "/request_admin_edit_profile",
				dataType: "json",
				data: JSON.stringify(profile)
				,
				error: function () {

				},
				success: function (data) {
					mProfilesData = data;				
					createProfileList(data);
				}
			});

			window.opener.location.reload();
			window.close();

		}else{
			/*
			for(var k in mProfilesData){
				if (k == name) {
            		alert("profile name is existed.");
                    $("#fname").focus();
                    return;
            	}
            }*/
            
			$.ajax({
				cache: false,
				type: "POST",
				url: "/request_admin_new_profile",
				dataType: "json",
				data: JSON.stringify({name:name, domain:domain, ersNo:ersNo, branch:branch, tag:tag, mins:"", hours:"", weeks:"", days:"", months:"" }),
				error: function () {

				},
				success: function (data) {
					mProfilesData = data;
					console.log(mProfilesData)
					createNew();
				}
			});
            
		}
	}
	
	function createNew(){

		$(opener.document).find("#profile_list").empty();   
		
		var thead = "<thead>";
		thead += "<tr>"; 
		thead += "<th scope='col'>Profile Name</th>";
		thead += "<th scope='col'>edit</th>";
		thead += "<th scope='col'>event count</th>";
		thead += "<th scope='col'>test count</th>";
		thead += "<th scope='col'>start seed</th>";
		thead += "<th scope='col'>end seed</th>";
		thead += "<th scope='col'>interval</th>";
		thead += "<th scope='col'>throttle(ms)</th>";
		thead += "<th scope='col'>alarm</th>";
		thead += "</tr>"
		thead += "</thead>"
		
		$(opener.document).find("#profile_list").append(thead);
		
		var i = 0; 
	
	for(var k in mProfilesData){
		//console.log(k);	
		var pf = "<tr><td width='30%'>";
		//if(i==0)
		//	pf += "<input type='checkbox' checked name='profileName' id = 'profileName" + i + "' value='"+ k + "'/>";
		//else
		//pf += "<input type='checkbox' name='profileName' id = 'profileName" + i + "' value='"+ k + "'/>";
		//pf += "<a href='#' onclick=onClickProfile('"+ k +"');>" + k + "</a>";
		//pf += k;
		//pf += "<a href ='#' onclick=requestDeviceList();>" + k + "</a>";
		//pf += mProfilesData[k]["config"]["seqNo"];
		pf += i;
		pf += "</td><td width='15%'>";
		//TODO
		pf += "<div id='evt" + i + "'>";
		pf += mProfilesData[k]["config"]["domain"];
		pf += "</div>";
		pf += "</td><td width='15%'>";
		pf += "<div id='evt" + i + "'>";
		pf += mProfilesData[k]["config"]["ersNo"];
		pf += "</div>";
		pf += "</td><td width='15%'>";
		pf += "<div id='total" + i + "'>";
		pf += mProfilesData[k]["config"]["branch"];
		pf += "</div>";
		pf += "</td>";
		pf += "</td><td width='15%'>";
		pf += "<div id='seed_start" + i + "'>";
		pf += mProfilesData[k]["config"]["tag"];
		pf += "</div>";
		pf += "</td>";
		pf += "</td><td width='15%'>";
		pf += "<div id='seed_end" + i + "'>";
		pf += mProfilesData[k]["config"]["type"];
		pf += "</div>";
		pf += "</td>";
		pf += "</td><td width='15%'>";
		pf += "<div id='seed_interval" + i + "'>";
		pf += mProfilesData[k]["config"]["requester"];
		pf += "</div>";
		pf += "</td>";
		pf += "</td><td width='15%'>";
		pf += "<div id='throttle" + i + "'>";
		pf += mProfilesData[k]["config"]["requestDate"];
		pf += "</div>";
		pf += "</td><td width='15%'>";
		pf += "<div id='throttle" + i + "'>";
		pf += mProfilesData[k]["config"]["builder"];
		pf += "</div>";
		pf += "</td><td width='15%'>";
		pf += "<div id='throttle" + i + "'>";
		pf += "<a href='#' onclick=onClickProfile('"+ k +"');>" + mProfilesData[k]["config"]["status"] + "</a>";
		pf += "</div>";
		pf += "</td><td width='15%'>";
		pf += "<div id='throttle" + i + "'>";
		pf += mProfilesData[k]["config"]["buildDate"];
		pf += "</div>";
		pf += "</td><td width='15%'>";

		if (mProfilesData[k]["activity"]){

			pf += "<button type='button' style='width:50px' name='button_activity' id = 'button_activity_" + i + "' onclick=onClickAlarm(this" + "," + i + ") value='OFF' >Test Build</button>";

		}		

		pf += "</td><td width='15%'>";
		
		if (mProfilesData[k]["activity"]){

			pf += "<button type='button' style='width:50px' name='button_activity' id = 'button_activity_" + i + "' onclick=onClickAlarm(this" + "," + i + ") value='OFF' >Real Build</button>";

		}
		
		pf += "</td>"
		pf += "</tr>";

		$("#profile_list").append(pf);
		
		profile_attr[i] = mProfilesData[k];
		i++;
	}
		
		window.opener.location.reload();
		window.close();	
	}

	function selectedHour(val) {
		var f = document.form;
    	
		if(val == "gmkt") {
			f.repo.value = "gmkt/Admin";
            $("#select_min").val("3000").attr("selected", "selected");
		} else if(val == "iac") {
			f.repo.value = "gmkt/itemPage2";
            $("#select_min").val("3001").attr("selected", "selected");
		}
        
        f.hour.value = f.select_hour.value;
        f.min.value = f.select_min.value;
        
        f.branch.value = "bc_" + val + "_001";
    	f.tag.value = "REL_" + val + "_001";
		

	 }

	 function selectedMinute(val) {	
		var f = document.form;
    	
        if(val == "3000") {
    		f.repo.value = "gmkt";
            $("#select_hour").val("gmkt").attr("selected", "selected");
		} else if(val == "3001") {
			f.repo.value = "iac";
            $("#select_hour").val("iac").attr("selected", "selected");
		}
        
        f.hour.value = f.select_hour.value;
        f.min.value = f.select_min.value;
        
		f.branch.value = "bc_" + val + "_001";
		f.tag.value = "REL_" + val + "_001";
	 }

	 function selectedDay(val) {
		var f = document.form;
	
		if(f.day.value != ""){
			if(f.day.value.charAt(f.day.value.length-1)==","){
				f.day.value += f.select_day.value + "," ;
			}else{
				f.day.value += "," + f.select_day.value;
			}
		}else{
			f.day.value += f.select_day.value + ",";
		}
	 }

	 function selectedMonth(val) {	
		var f = document.form;
	
		if(f.month.value != ""){
			if(f.month.value.charAt(f.month.value.length-1)==","){
				f.month.value += f.select_month.value + "," ;
			}else{
				f.month.value += "," + f.select_month.value;
			}
		}else{
			f.month.value += f.select_month.value + ",";
		}
	 }
	 </script>

</head>

<body onLoad="onLoadEditProfiles()" >
<form name="form">
      <table>
		
		<tr>
            <td>
				Domain
			</td>
            <td>
				<input type="text" name="hour" id="hour" value="" /> 
				<select name="select_hour" id="select_hour" onchange="selectedHour(this.options[this.selectedIndex].value)">
					<option value="gmkt">gmkt</option>
					<option value="iac">iac</option>
				</select>
			</td>
        </tr>
		<tr>
            <td>
				ERS No.
			</td>
            <td>
				<input type="text" name="min" id="min" />
				<select name="select_min" id="select_min" onchange="selectedMinute(this.options[this.selectedIndex].value)">
					<option value="3000">3000</option>
                    <option value="3001">3001</option>
				</select>	
            </td>
        </tr>
		
		<tr>
            <td colspan="2">
               <hr size="1">
            </td>
        </tr>
		
		<tr>
            <td>
                Repository:
            </td>
            <td>
                <!--<input type="text" name="throttle" maxlength="4" id="throttle" value="0"/>-->
				<input type="text" name="repo" maxlength="20" id="repo" value="0"/>
				<!--<div id='repo'>/gmkt/Admin</div>-->
            </td>
        </tr>
		
		<tr>
            <td>
                Branch:
            </td>
            <td>
				<input type="text" name="branch" maxlength="20" id="branch" value="0"/>
            </td>
        </tr>	
		
		<tr>
            <td>
                Tag:
            </td>
            <td>
				<input type="text" name="tag" maxlength="20" id="tag" value="0"/>
            </td>
        </tr>	
		<!--
		<tr>
			<td>
				Week
			</td>
            <td>				
				<input type="checkbox" name="week" id="week" value="0" >월</input>
				<input type="checkbox" name="week" id="week" value="1" >화</input>
				<input type="checkbox" name="week" id="week" value="2" >수</input>
				<input type="checkbox" name="week" id="week" value="3" >목</input>
				<input type="checkbox" name="week" id="week" value="4" >금</input>
				<input type="checkbox" name="week" id="week" value="5" >토</input>
				<input type="checkbox" name="week" id="week" value="6" >일</input>
            </td>	
			    
        </tr>
		-->

        <tr align="center">
            <td colspan="2">
				<br><input type="button" onclick="onClickSubmit()" value="Save" />
				<input type="button" onclick="window.close()" value="Close" />
            </td>
        <tr>
      </table>
</form>
</body>

</html>