<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>빌드생성</title>
    <script language="javascript" type="text/javascript" src="../../resources/lib/jquery.min.js"></script>
	<script language="javascript" type="text/javascript" src="./admin_setting_client.js"></script>

    <link rel="stylesheet" type="text/css" href="../../resources/styles/style.css" />

	<script type="text/javascript">
		
	var edit_modes =null;
	var arg = null;

	function onLoadEditProfiles(val){			
			
		requestGroupList();
		
		if (typeof window.dialogArguments == "object"){	
			
			var f = document.form;
			
			arg = window.dialogArguments;
			//console.log("arg:", arg);
			
			edit_modes = arg.edit_mode;
			console.log("edit", edit_modes );				
			
			f.fname.value = arg.name;
			f.fname.disabled  = true;
			f.event.value = arg.event;
			f.count.value = arg.count;
			f.interval.value = arg.seed_interval;
			f.throttle.value = arg.throttle;
			f.hour.value = arg.hours;
			f.min.value = arg.mins;
			f.day.value = arg.days;

			for (var i=0; i<f.week.length; i++){
				for (var j=0; j<arg.weeks.length; j++ ){
					//console.log("=====", f.week[i].value);
					//console.log("====", arg.weeks[j]);
					if(f.week[i].value == arg.weeks[j]){
						f.week[i].checked = true;
					}
				}
			}
			
			f.month.value = arg.months;
				
		}else{
			edit_modes = false;
			console.log("not edit", edit_modes);
		}
	}
	
	function trimString( str ) {

	    return str.replace(/^\s*/, "").replace(/\s*$/, "");
	}
	
	// String.prototype.trim = function () {
	// 	
	//     return this.replace(/^\s*/, "").replace(/\s*$/, "");
	// }
	
	function onClickSubmit(){

			var name = new Date();
			var domain = $("#hour").val();
			var ersNo = $("#min").val();
			
			var branch = $("#branch").val();
			var tag = $("#tag").val();
			var group = $("#select_build_gruop option:selected").val();

            var event = $("#event").val();
            var count = $("#count").val();
            var start_seed = 0; //$("#start_seed").val();
            var end_seed = ( ($("#count").val() - 1 ) * $("#interval").val());//$("#end_seed").val();
            var interval = $("#interval").val();
            var throttle = $("#throttle").val();
			var hours = $("#hour").val();
			var mins = $("#min").val();
			
			var arrWeek = [];
			$("input[name='week']:checkbox:checked").each(function(){
															arrWeek.push($(this).val());
															});
			var weeks = arrWeek.join(',');
			var days = $("#day").val();
			var months = $("#month").val();

			$.ajax({
				cache: false,
				type: "POST",
				url: "/request_admin_new_profile",
				dataType: "json",
				data: JSON.stringify({ group:group, name:name, domain:domain, ersNo:ersNo, branch:branch, tag:tag, mins:"", hours:"", weeks:"", days:"", months:"" }),
				error: function () {

				},
				success: function (data) {
					mProfilesData = data;
					console.log(mProfilesData)
					createNew();
				}
			});
	}
	
	function createNew(){

		$(opener.document).find("#profile_list").empty();   
		
		var thead = "<thead>";
		thead += "<tr>"; 
		thead += "<th scope='col'>Profile Name</th>";
		thead += "<th scope='col'>edit</th>";
		thead += "<th scope='col'>event count</th>";
		thead += "<th scope='col'>test count</th>";
		thead += "<th scope='col'>start seed</th>";
		thead += "<th scope='col'>end seed</th>";
		thead += "<th scope='col'>interval</th>";
		thead += "<th scope='col'>throttle(ms)</th>";
		thead += "<th scope='col'>alarm</th>";
		thead += "</tr>"
		thead += "</thead>"
		
		$(opener.document).find("#profile_list").append(thead);
		
		var i = 0; 
	
	for(var k in mProfilesData){
		//console.log(k);	
		var pf = "<tr><td width='30%'>";
		//if(i==0)
		//	pf += "<input type='checkbox' checked name='profileName' id = 'profileName" + i + "' value='"+ k + "'/>";
		//else
		//pf += "<input type='checkbox' name='profileName' id = 'profileName" + i + "' value='"+ k + "'/>";
		//pf += "<a href='#' onclick=onClickProfile('"+ k +"');>" + k + "</a>";
		//pf += k;
		//pf += "<a href ='#' onclick=requestDeviceList();>" + k + "</a>";
		//pf += mProfilesData[k]["config"]["seqNo"];
		pf += i;
		pf += "</td><td width='15%'>";
		//TODO
		pf += "<div id='evt" + i + "'>";
		pf += mProfilesData[k]["config"]["domain"];
		pf += "</div>";
		pf += "</td><td width='15%'>";
		pf += "<div id='evt" + i + "'>";
		pf += mProfilesData[k]["config"]["ersNo"];
		pf += "</div>";
		pf += "</td><td width='15%'>";
		pf += "<div id='total" + i + "'>";
		pf += mProfilesData[k]["config"]["branch"];
		pf += "</div>";
		pf += "</td>";
		pf += "</td><td width='15%'>";
		pf += "<div id='seed_start" + i + "'>";
		pf += mProfilesData[k]["config"]["tag"];
		pf += "</div>";
		pf += "</td>";
		pf += "</td><td width='15%'>";
		pf += "<div id='seed_end" + i + "'>";
		pf += mProfilesData[k]["config"]["type"];
		pf += "</div>";
		pf += "</td>";
		pf += "</td><td width='15%'>";
		pf += "<div id='seed_interval" + i + "'>";
		pf += mProfilesData[k]["config"]["requester"];
		pf += "</div>";
		pf += "</td>";
		pf += "</td><td width='15%'>";
		pf += "<div id='throttle" + i + "'>";
		pf += mProfilesData[k]["config"]["requestDate"];
		pf += "</div>";
		pf += "</td><td width='15%'>";
		pf += "<div id='throttle" + i + "'>";
		pf += mProfilesData[k]["config"]["builder"];
		pf += "</div>";
		pf += "</td><td width='15%'>";
		pf += "<div id='throttle" + i + "'>";
		pf += "<a href='#' onclick=onClickProfile('"+ k +"');>" + mProfilesData[k]["config"]["status"] + "</a>";
		pf += "</div>";
		pf += "</td><td width='15%'>";
		pf += "<div id='throttle" + i + "'>";
		pf += mProfilesData[k]["config"]["buildDate"];
		pf += "</div>";
		pf += "</td><td width='15%'>";

		if (mProfilesData[k]["activity"]){

			pf += "<button type='button' style='width:50px' name='button_activity' id = 'button_activity_" + i + "' onclick=onClickAlarm(this" + "," + i + ") value='OFF' >Test Build</button>";

		}		

		pf += "</td><td width='15%'>";
		
		if (mProfilesData[k]["activity"]){

			pf += "<button type='button' style='width:50px' name='button_activity' id = 'button_activity_" + i + "' onclick=onClickAlarm(this" + "," + i + ") value='OFF' >Real Build</button>";

		}
		
		pf += "</td>"
		pf += "</tr>";

		$("#profile_list").append(pf);
		
		profile_attr[i] = mProfilesData[k];
		i++;
	}
		
		window.opener.location.reload();
		window.close();	
	}

	function selectedHour(val) {
		var f = document.form;
    	
		if(val == "gmkt") {
			f.repo.value = "gmkt/Admin";
            $("#select_min").val("3000").attr("selected", "selected");
		} else if(val == "iac") {
			f.repo.value = "gmkt/itemPage2";
            $("#select_min").val("3001").attr("selected", "selected");
		}
        
        f.hour.value = f.select_hour.value;
        f.min.value = f.select_min.value;
        
        f.branch.value = "bc_" + val + "_001";
    	f.tag.value = "REL_" + val + "_001";
		

	 }

	 function selectedMinute(val) {	
		var f = document.form;
    	
        if(val == "3000") {
    		f.repo.value = "gmkt";
            $("#select_hour").val("gmkt").attr("selected", "selected");
		} else if(val == "3001") {
			f.repo.value = "iac";
            $("#select_hour").val("iac").attr("selected", "selected");
		}
        
        f.hour.value = f.select_hour.value;
        f.min.value = f.select_min.value;
        
		f.branch.value = "bc_" + val + "_001";
		f.tag.value = "REL_" + val + "_001";
	 }

	 function selectedDay(val) {
		var f = document.form;
	
		if(f.day.value != ""){
			if(f.day.value.charAt(f.day.value.length-1)==","){
				f.day.value += f.select_day.value + "," ;
			}else{
				f.day.value += "," + f.select_day.value;
			}
		}else{
			f.day.value += f.select_day.value + ",";
		}
	 }

	 function selectedMonth(val) {	
		var f = document.form;
	
		if(f.month.value != ""){
			if(f.month.value.charAt(f.month.value.length-1)==","){
				f.month.value += f.select_month.value + "," ;
			}else{
				f.month.value += "," + f.select_month.value;
			}
		}else{
			f.month.value += f.select_month.value + ",";
		}
	 }
	 
	 
	 
	 function requestGroupList() {
	 	
	 	$.ajax({
				cache: false,
				type: "GET",
				url: "/request_admin_group_list",
				dataType: "json",
				data: {},
				error: function () {

				},
				success: function (data) {
					//mProfilesData = data;
					console.log(data)
					createGroupList(data);
				}
			});
	 }
	 
	 function createGroupList(data) {
	 	
	 	console.log(data);
	 	
	 	var elem = "<select name='select_build_gruop' id='select_build_gruop' onchange='selectedBuildGroup(this.options[this.selectedIndex].value)'>";
	 	for(var k in data) {
	 		elem += "<option value='" + k + "'>" + k + "</option>";
	 	}
		
		console.log(elem);
	 	elem += "</select>"
					
		$("#group_list").empty();
		$("#group_list").append(elem);
	 }
	 </script>

</head>

<body onLoad="onLoadEditProfiles()" >
<form name="form">
      <table>
		
		<tr>
            <td>
				Domain
			</td>
            <td>
				<input type="text" name="hour" id="hour" value="" /> 
				<select name="select_hour" id="select_hour" onchange="selectedHour(this.options[this.selectedIndex].value)">
					<option value="gmkt">gmkt</option>
					<option value="iac">iac</option>
				</select>
			</td>
        </tr>
		<tr>
            <td>
				ERS No.
			</td>
            <td>
				<input type="text" name="min" id="min" />
				<select name="select_min" id="select_min" onchange="selectedMinute(this.options[this.selectedIndex].value)">
					<option value="3000">3000</option>
                    <option value="3001">3001</option>
				</select>	
            </td>
        </tr>
	
		<tr>
            <td>
				Build group.
			</td>
            <td>
				<div id="group_list"></div>	
            </td>
        </tr>
		
		<tr>
            <td colspan="2">
               <hr size="1">
            </td>
        </tr>
		
		<tr>
            <td>
                Repository:
            </td>
            <td>
                <!--<input type="text" name="throttle" maxlength="4" id="throttle" value="0"/>-->
				<input type="text" name="repo" maxlength="20" id="repo" value="0"/>
				<!--<div id='repo'>/gmkt/Admin</div>-->
            </td>
        </tr>
		
		<tr>
            <td>
                Branch:
            </td>
            <td>
				<input type="text" name="branch" maxlength="20" id="branch" value="0"/>
            </td>
        </tr>	
		
		<tr>
            <td>
                Tag:
            </td>
            <td>
				<input type="text" name="tag" maxlength="20" id="tag" value="0"/>
            </td>
        </tr>	


        <tr align="center">
            <td colspan="2">
				<br><input type="button" onclick="onClickSubmit()" value="Save" />
				<input type="button" onclick="window.close()" value="Close" />
            </td>
        <tr>
      </table>
</form>
</body>

</html>